{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css%}

<!-- daterange picker -->
<link rel="stylesheet" href="{% static 'css/tagsinput.css' %}">

<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">

<link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/bs-stepper/css/bs-stepper.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/dropzone/min/dropzone.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
<!-- SweetAlert2 -->
<link rel="stylesheet" href="{% static 'plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
{% endblock %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"> {{ titulo }} </h3>
                    </div>
                    <form class="needs-validation" name="form1" action="#" method="POST">
                        <div class="card-body">
                            {% csrf_token %}
                            <div class="form-group">
                                <div
                                    class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input name="HO" type="checkbox" value="Si" class="custom-control-input"
                                        id="customSwitch3">
                                    <label class="custom-control-label" for="customSwitch3">Home Office</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tipo</label>
                                <select id="txtTipo" required name="txtTipo" class="form-control select"
                                    style="width: 100%;">
                                    <option selected=""></option>
                                    <option>Actualización recurrente</option>
                                    <option>Calidad</option>
                                    <option>Implementación</option>
                                    <option>Toma operativa</option>
                                    <option>Trouble shooting falla</option>
                                    <option>Reuniones de seguimiento</option>
                                    <option>Investigación</option>
                                    <option>Actualización recurrente en curso</option>
                                    <option>Especial</option>
                                    <option>Operación</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>SR asociado</label>
                                <input type="text" id="cmbActividad" class="form-control" name="cmbActividad">
                                <input type="hidden" name="usuario" value="{{ user.username }}">
                            </div>
                            <div class="form-group">
                                <label>Solicitante de la tarea</label>
                                <select id="txtSolicitante" required name="txtSolicitante" class="form-control select"
                                    style="width: 100%;">
                                    <option selected=""></option>
                                    <option>Adrián Martínez</option>
                                    <option>Luis Alberto Ramírez</option>
                                    <option>TEAM OAC</option>
                                    <option>------------------------</option>
                                    <option>AMX</option>
                                    <option>Calidad</option>
                                    <option>Coordinación de RFC</option>
                                    <option>Equipo Triara</option>
                                    <option>ITOC</option>
                                    <option>Mesa de ayuda</option>
                                    <option>Turnos</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div id="NombreTurnos"></div>
                            </div>
                            <div class="form-group">
                                <label>Evento o proyecto</label>
                                <select name="cmbTipo" class="form-control select" style="width: 100%;" id="cmbTipo">
                                    <option value=0 selected=""></option>
                                    <option>Evento</option>
                                    <option>Proyecto</option>
                                </select>
                            </div>
                            <div id="SR_ID" class="form-group">
                                <label>Ambiente</label>
                                <select name="Ambiente" required class="form-control select" style="width: 100%;"
                                    id="Ambiente">
                                    <option value=19 selected="0"></option>
                                    {% for dt in env %}
                                    <option value="{{ dt.idAmbiente }}">{{ dt.NombreAmbiente }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select name="Status" class="form-control select" style="width: 100%;">
                                    <option value="0" selected="0"></option>
                                    <option value="En proceso">En proceso</option>
                                    <option value="Terminado">Terminado</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Actividades</label>
                                <select name="Status" class="form-control select" style="width: 100%;">
                                    <option value="0" selected="0"></option>
                                    <option>Renovación de certificados</option>
                                    <option>Depuración de particiones</option>
                                    <option>Depuración de unidad windows</option>
                                    <option>Actualización de sistema operativo</option>
                                    <option>Actualización de componentes VMware</option>
                                    <option>Rotación de password</option>
                                    <option>Eliminación de password</option>
                                    <option>Atención de RFC (Inicio - Seguimiento - Apoyo)</option>
                                    <option>MPLS ABC</option>
                                    <option>External Network</option>
                                    <option>Sesión</option>
                                    <option>Atención de IM escalado</option>
                                    <option>Actividad no categorizada</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div id="desc"><label>
                                        <div id="PROYECTO">Descripción</div>
                                    </label><textarea type="text" class="form-control" name="Descripcion"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Avance</label>
                                <input type='text' required class='form-control' name='Avance'>
                            </div>
                            <div class="form-group">
                                <label>IM</label>
                                <input type='text' class='form-control' name='IM'>
                            </div>
                            <div class="form-group">
                                <label>RFC</label>
                                <input type='text' class='form-control' name='RFC'>
                            </div>
                            <div class="form-group">
                                <label>Fecha inicio</label>
                                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                    <input name="fInicio" required type="text" class="form-control datetimepicker-input"
                                        data-target="#reservationdate">
                                    <div class="input-group-append" data-target="#reservationdate"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Fecha finalización</label>
                                <div class="input-group date" id="reservationdate2" data-target-input="nearest">
                                    <input readonly="yes" name="fFin" type="text"
                                        class="form-control datetimepicker-input" data-target="#reservationdate2"
                                        id="id_FechaFinal">
                                    <div class="input-group-append" data-target="#reservationdate2"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Horas invertidas</label>
                                        <select name="cmbHoras" class="form-control select" style="width: 100%;"
                                            id="cmbHoras" required>
                                            <option value=0 selected=""></option>
                                            <option value="1">1 hora</option>
                                            <option value="2">2 horas</option>
                                            <option value="3">3 horas</option>
                                            <option value="4">4 horas</option>
                                            <option value="5">5 horas</option>
                                            <option value="6">6 horas</option>
                                            <option value="7">7 horas</option>
                                            <option value="8">8 horas</option>
                                            <option value="9">9 horas</option>
                                            <option value="10">10 horas</option>
                                            <option value="11">11 horas</option>
                                            <option value="12">12 horas</option>
                                            <option value="13">13 horas</option>
                                            <option value="14">14 horas</option>
                                            <option value="15">15 horas</option>
                                            <option value="16">16 horas</option>
                                            <option value="17">17 horas</option>
                                            <option value="18">18 horas</option>
                                            <option value="19">19 horas</option>
                                            <option value="20">20 horas</option>
                                            <option value="21">21 horas</option>
                                            <option value="22">22 horas</option>
                                            <option value="23">23 horas</option>
                                            <option value="24">24 horas</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Minutos invertidos</label>
                                        <select name="cmbMinutos" class="form-control select" style="width: 100%;"
                                            id="cmbMinutos" required>
                                            <option value=0 selected=""></option>
                                            <option value="0">00 min</option>
                                            <option value="0.15">15 min</option>
                                            <option value="0.30">30 min</option>
                                            <option value="0.45">45 min</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" name="submit" class='btn btn-primary swalDefaultSuccess'
                                id="submit_btn" value="Agregar datos" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}

<!-- AdminLTE dashboard demo (This is only for demo purposes)
<script src="{% static 'js/pages/dashboard3.js' %}"></script> -->

<script src="{% static 'js/tagsinput.js' %}"></script>

<!-- date-range-picker -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>

<script src="{% static 'plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>

<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/jquery.inputmask.min.js' %}"></script>

<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>

<script src="{% static 'plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>

<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

<script src="{% static 'plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>

<script src="{% static 'plugins/dropzone/min/dropzone.min.js' %}"></script>

<!-- Toastr -->
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
<!-- SweetAlert2 -->
<script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>

<script>
    var b = document.getElementById("id_FechaFinal");
    b.setAttribute("readonly", "yes");
</script>

<script>
    $(function () {

        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 30000
        });

        $('.swalDefaultSuccess').click(function () {
            Toast.fire({
                icon: 'success',
                title: 'Se agregó la actividad exitosamente'
            })
        });

        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
        //Money Euro
        $('[data-mask]').inputmask()

        //Date picker
        $('#reservationdate').datetimepicker({
            //format: 'L'
            format: 'YYYY-MM-DD'
        });

        $('#reservationdate2').datetimepicker({
            //format: 'L'
            format: 'YYYY-MM-DD'
        });

        //Date and time picker
        $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

        //Date range picker
        $('#reservation').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        })
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
            }
        )

        //Timepicker
        $('#timepicker').datetimepicker({
            format: 'LT'
        })

        //Bootstrap Duallistbox
        $('.duallistbox').bootstrapDualListbox()

        //Colorpicker
        $('.my-colorpicker1').colorpicker()
        //color picker with addon
        $('.my-colorpicker2').colorpicker()

        $('.my-colorpicker2').on('colorpickerChange', function (event) {
            $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
        })

        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        })

        //$(document).on("change", "#cmbActividad", function () {
        /*$('#cmbActividad').change(function () {
            var value = $(this).val();
            if (value == 99999) {
                var input = "<input type='text' class='form-control' name='IM'>";
                $("#IM")
                    .html('<label>IM</label>')
                    .append(input)
                    .show()
                //$(this).next('text_area_appended_here').html(input);
                var input2 = "<input type='text' class='form-control' name='Descripcion'>";
                $("#desc")
                    .html('<label><div id="PROYECTO">Descripcion actividad</div></label>')
                    .append(input2)
                    .show()
                var input3 = "<input type='text' class='form-control' name='RFC'>";
                $("#RFC")
                    .html('<label>RFC</label>')
                    .append(input3)
                    .show()
                var input4 = "<input type='text' class='form-control' name='SR'>";
                $("#SR_ID").show()
                //.html('<label>SR</label>')
                //.append(input4)
                //.show()
            }
            else {
                $("#IM").hide()
                $("#desc").hide()
                $("#RFC").hide()
                $("#SR_ID").hide()

            }
        });*/

        $('#cmbTipo').change(function () {
            var value = $(this).val();
            if (value == "Proyecto") {
                $("#PROYECTO")
                    .html('Descripción del subject del correo')
                    //.append(input)
                    .show()
                $("#")
            } else {
                $("#PROYECTO")
                    .html('Descripción actividad')
                    //.append(input)
                    .show()
            }
        });

        $('#txtSolicitante').change(function () {
            var value = $(this).val();
            var input5 = "<input type='text' class='form-control' name='NombreTurnos'>";
            if (value == "Turnos" || value == "Mesa de ayuda" || value == "TEAM OAC" || value == "ITOC" || value == "AMX" || value == "Equipo Triara") {
                $("#NombreTurnos")
                    .html('Nombre contacto')
                    .append(input5)
                    .show()
                $("#")
            } else {
                $('#NombreTurnos').hide()
            }
        });


    });
</script>

{% endblock %}