{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <h5 class="mb-2">Info Box</h5>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-info">
                    <span class="info-box-icon"><i class="far fa-bookmark"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Horas totales</span>
						{% for dt in Total %}
                        <span class="info-box-number">{{ dt.Horas|floatformat:2 }}</span>
						{% endfor %}
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            ...
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-success">
                    <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Horas diarias</span>
						{% for dt in Diario %}
                        <span class="info-box-number">{{ dt.Horas|floatformat:2 }}</span>
						{% endfor %}
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            ...
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-warning">
                    <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Horas semana</span>
						{% for dt in semana %}
                        <span class="info-box-number">{{ dt.Horas|floatformat:2 }}</span>						
                        <div class="progress">
                            <div class="progress-bar" style="width:100%"></div>
                        </div>
                        {% endfor %}
                        <span class="progress-description bg-warning">
                            ...
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-danger">
                    <span class="info-box-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Horas de Home Office</span>
                        {% for dt in TotalHO %}
                        <span class="info-box-number">{{ dt.Horas|floatformat:2 }}</span>
						{% endfor %}
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            ...
                        </span>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</section>
{% endblock %}