{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css%}

<!-- daterange picker -->
<link rel="stylesheet" href="{% static 'css/tagsinput.css' %}">

<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">

<link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/bs-stepper/css/bs-stepper.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/dropzone/min/dropzone.min.css' %}">
{% endblock %}

{% block content %}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">SERVICE REQUESTS GENERALES</h3>
          </div>
          <form class="needs-validation" name="form1" action="#" method="POST">
            <div class="card-body">
              <fieldset>
                {% csrf_token %}
                <div class="form-group">
                  <label>Service Request</label>
                  {{ form.SR }}
                </div>
                <div class="form-group">
                  <label>Fecha</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    {{ form.Fecha }}
                  </div>
                </div>
                <div class="form-group">
                  <label>Usuario</label>
                  <select name="Usuario" required id="id_Usuario" class="form-control">
                    {{usuarios|pprint}}
                    {% for key, value in usuarios.items %}
                    {% if user.username == value %}
                    <option value='{{ key }}' selected> {{ value }}</option>
                    {% else %}
                    <option value='{{ key }}'> {{ value }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label>Categoría</label>
                  {{ form.Categoria }}
                </div>
                <div class="form-group">
                  <label>Proveedor</label>
                  {{ form.Vendor }}                  
                </div>
                <div class="form-group">
                  <label>Componente</label>
                  {{ form.Componente }}                  
                </div>
                <div class="form-group">
                  <label>Ambiente</label>
                  <select name="Ambiente" required id="id_Ambiente" class="form-control">
                    <option value="" selected="">---------</option>
                    {{ambiente|pprint}}
                    {% for env in ambiente %}
                    <option value="{{ env.idAmbiente }}"> {{ env.NombreAmbiente }}</option>
                    {% endfor %}               
                  </select>                  
                </div>
                <div id="RH">
                  <div class="form-group">
                    <label>Reemplazo de Hardware</label>
                    {{ form.CambioHW }}
                  </div>
                </div>
                <div id="RMA">
                  <div class="form-group">
                    <label>RMA</label>
                    {{ form.RMA }}
                  </div>
                </div>
                <div class="form-group">
                  <label>RFC</label>
                  {{ form.RFC }}
                </div>
                <div class="form-group">
                  <label>IM</label>
                  {{ form.IM }}
                </div>
                <div class="form-group">
                  <label>Descripción</label>
                  {{ form.descripcion }}
                  <div id="contador"></div>
                </div>
                <input type="submit" name="submit" class='btn btn-primary' id="submit_btn" value="Agregar datos" />
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}

<!-- AdminLTE dashboard demo (This is only for demo purposes)
<script src="{% static 'js/pages/dashboard3.js' %}"></script> -->

<script type="text/javascript">
  $(document).ready(function () {
    $("#id_Categoria").on("change", getVendors);
    $("#id_Vendor").html("<option value='' selected='selected'>---------</option>");
  });

  function getVendors() {
    var id_Categoria = $("#id_Categoria").val();

    if (id_Categoria) {
      // Eliminamos las opciones anteriores del select
      $("#id_Vendor").html("");
      var request = $.ajax({
        type: "GET",
        url: "{% url 'get_vendors' %}",
        data: {
          "id_Categoria": id_Categoria,
        },
      });

      request.done(function (response) {
        // Agregamos los resultados al select                    
        $("#id_Vendor").html(response.categorias);
        $("#id_Vendor").trigger("change");
      });
    } else {
      $("#id_Vendor").html("<option value='' selected='selected'>---------</option>");
      $("#id_Vendor").trigger("change");
    }
  }

  $(document).ready(function () {
    $("#id_Vendor").on("change", getComponentes);
    $("#id_Componente").html("<option value='' selected='selected'>---------</option>");
  });

  function getComponentes() {
    var id_Vendor = $("#id_Vendor").val();

    if (id_Vendor) {
      // Eliminamos las opciones anteriores del select
      $("#id_Componente").html("");
      var request = $.ajax({
        type: "GET",
        url: "{% url 'get_componentes' %}",
        data: {
          "id_Vendor": id_Vendor,
        },
      });

      request.done(function (response) {
        // Agregamos los resultados al select                    
        $("#id_Componente").html(response.componentes);
        $("#id_Componente").trigger("change");
      });
    } else {
      $("#id_Componente").html("<option value='' selected='selected'>---------</option>");
      $("#id_Componente").trigger("change");
    }
  }
</script>

<script type="text/javascript">
  $(document).ready(function () {

    var max_chars = 500;

    $('#max').html(max_chars);

    $('#id_descripcion').keyup(function () {
      var chars = $(this).val().length;
      var diff = max_chars - chars;
      $('#contador').html(diff);
    });
  });

</script>

<script>
  var b = document.getElementById("id_Fecha");
  b.setAttribute("class", "form-control ");
  b.setAttribute("data-inputmask-alias", "datetime");
  b.setAttribute("data-inputmask-inputformat", "dd/mm/yyyy");
  b.setAttribute("data-mask", "");
  b.setAttribute("inputmode", "numeric");

  var txt = document.getElementById('id_SR');
  txt.setAttribute("class", "form-control");
  txt.setAttribute("required", "required");

  var c = document.getElementById("id_Categoria");
  c.setAttribute("class", "form-control");

  var d = document.getElementById("id_Usuario");
  d.setAttribute("class", "form-control");

  var e = document.getElementById("id_Vendor");
  e.setAttribute("class", "form-control");

  var f = document.getElementById("id_Componente");
  f.setAttribute("class", "form-control");

  var g = document.getElementById("id_Ambiente");
  g.setAttribute("class", "form-control");
  g.setAttribute("required", "required");

  var h = document.getElementById("id_CambioHW");
  h.setAttribute("class", "form-control");

  var i = document.getElementById("id_descripcion");
  i.setAttribute("class", "form-control");
  i.setAttribute("maxlength", "500")

  var j = document.getElementById("id_RMA");
  j.setAttribute("class", "form-control bootstrap-tagsinput");
  j.setAttribute("data-role", "tagsinput");
  //j.setAttribute("class", "")class="bootstrap-tagsinput"

  var k = document.getElementById("id_RFC");
  k.setAttribute("class", "form-control");

  var l = document.getElementById("id_IM");
  l.setAttribute("class", "form-control");

</script>

<script src="{% static 'js/tagsinput.js' %}"></script>

<!-- date-range-picker -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>

<script src="{% static 'plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>

<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/jquery.inputmask.min.js' %}"></script>

<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>

<script src="{% static 'plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>

<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

<script src="{% static 'plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>

<script src="{% static 'plugins/dropzone/min/dropzone.min.js' %}"></script>


<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date picker
    $('#reservationdate').datetimepicker({
      format: 'L'
    });

    //Date and time picker
    $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function (event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    })

    $("input[data-bootstrap-switch]").each(function () {
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    })

    $('#id_Categoria').change(function () {
      var value = $(this).val();
      if (value == 3) {
        $("#RH").hide()
        $("#RMA").hide()
        document.getElementById('id_CambioHW').value = '2'
      }
      else {
        $("#RH").show()
        $("#RMA").show()
      }
    });
  })
</script>

{% endblock %}